body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img {
    height: auto;
    width: 150px;
    margin-left: 10px;
}

nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
}

nav ul li a {
    font-size: 12x;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
}

main {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    font-size: 14px;
}


aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-right: 20px;
}
#entradas, #categorias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: gray;
}
aside ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
#entradas h5, #categorias h5{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-block-start:0;
    margin-block-end:0;
}

aside ul li a {
    color: black;
   font-size: 12px;
}

section {
    flex: 1;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}
section div {
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 450px;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section div article{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 250px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
section div img{
    height: auto;
    max-width: 100%;
}
section div h3{
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
   
   
}
section div p{
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 10px 10px 10px 10px;

}
footer{ 
    height: 50px;
    border-top: 2px solid black;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   
}

